name: CI

permissions:
  contents: write

on:
  workflow_dispatch:
  push:
    branches:
      - '*'
    tags:
      - '![0-9]+.*'
    paths:
      - '**/**'
      - '!*.md'
      - '!.gitignore'
  pull_request:

jobs:
  build-macos:
    runs-on: macos-latest
    strategy:
      matrix:
        maker: [xmake]
    steps:

      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: setup librime
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pwsh ./get-rime.ps1 -use toy -tag latest
          cp -r lib/* .

      - uses: xmake-io/github-action-setup-xmake@v1
        if: matrix.maker == 'xmake'
        with:
          actions-cache-folder: '.xmake-cache'

      - name: build rimeapi.lua
        if: matrix.maker == 'xmake'
        id: build_rimeapi_lua_xmake
        run: |
          xmake f -y -p macosx --includedirs=dist/include
          xmake -y

      - name: Build rimeapi.lua with cmake
        if: matrix.maker == 'cmake'
        id: build_rimeapi_lua_cmake
        run: |
          cmake -Bbuild .
          cmake --build build --config Release
          cmake --install build --prefix . --config Release

      - name: install luajit
        run: |
          brew install luajit
          luajit -v

      - name: test
        run: |
          ./rimeapi.app.lua test.lua api_test levers_api_test
          ./lua test.lua api_test levers_api_test
          luajit test.lua api_test levers_api_test
          ./lua ./rimeapi.app.lua test.lua api_test levers_api_test
          luajit ./rimeapi.app.lua test.lua api_test levers_api_test

      - name: prepare artifact
        if: matrix.maker == 'xmake'
        run: |
          mkdir -p rimeapi.lua-macos-dist
          cp ./rimeapi_lua.dylib ./rimeapi.lua-macos-dist/
          cp ./rimeapi.lua ./rimeapi.lua-macos-dist/
          cp ./rimeapi_ffi.lua ./rimeapi.lua-macos-dist/
          cp ./rimeapi.app.lua ./rimeapi.lua-macos-dist/
          cp ./test.lua ./rimeapi.lua-macos-dist/
          cp -r ./scripts ./rimeapi.lua-macos-dist/
          cp -r ./shared ./rimeapi.lua-macos-dist/
          cp ./rimeapi.annotation.lua ./rimeapi.lua-macos-dist/
          cp ./README.md ./rimeapi.lua-macos-dist/
          cp ./rime_api_console.lua ./rimeapi.lua-macos-dist/
          cp ./rime_deployer.lua ./rimeapi.lua-macos-dist/
          cp ./librime.dylib ./rimeapi.lua-macos-dist/
          cp -r ./rime-plugins ./rimeapi.lua-macos-dist/
          cp ./LICENSE ./rimeapi.lua-macos-dist/
          cp ./schema_tester.lua ./rimeapi.lua-macos-dist/
          cp ./schema_tester_config.lua ./rimeapi.lua-macos-dist/
          cp ./noti_bridge.dylib ./rimeapi.lua-macos-dist/
          cp ./lua ./rimeapi.lua-macos-dist/

      - name: tar artifact
        run: tar czf rimeapi.lua-macos-dist.tar.gz ./rimeapi.lua-macos-dist/

      - name: upload artifact
        if: matrix.maker == 'xmake'
        uses: actions/upload-artifact@v5
        with:
          name: rimeapi.lua-macos-dist.tar.gz
          path: rimeapi.lua-macos-dist.tar.gz

  build-ubuntu:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        maker: [xmake]

    steps:

      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: compute librime short hash
        id: librime-hash
        run: |
          pushd librime
          short=$(git rev-parse --short HEAD)
          echo "short=$short" >> "$GITHUB_OUTPUT"
          popd

      - name: cache librime build
        id: cache-librime
        uses: actions/cache@v4
        with:
          path: librime.so
          key: ${{ runner.os }}-librime-${{ steps.librime-hash.outputs.short }}
          restore-keys: |
            ${{ runner.os }}-librime-

      - name: setup deps
        working-directory: librime
        if: steps.cache-librime.outputs.cache-hit != 'true'
        run: ./action-install-linux.sh

      - name: prepare librime
        id: prepare-librime
        if: steps.cache-librime.outputs.cache-hit != 'true'
        working-directory: librime
        env:
          CMAKE_GENERATOR: Ninja
          RIME_PLUGINS: hchunhui/librime-lua lotem/librime-octagram rime/librime-predict
        run: |
          ./action-install-plugins-macos.sh
          cp ../action.patch ./
          git apply action.patch
          make deps
          make merged-plugins
          cp build/lib/librime.so ../
          ldd ../librime.so

      - uses: xmake-io/github-action-setup-xmake@v1
        if: matrix.maker == 'xmake'
        with:
          actions-cache-folder: '.xmake-cache'

      - name: build rimeapi.lua
        if: matrix.maker == 'xmake'
        id: build_rimeapi_lua_xmake
        run: xmake -y

      - name: Build rimeapi.lua with cmake
        if: matrix.maker == 'cmake'
        shell: bash
        id: build_rimeapi_lua_cmake
        run: |
          cmake -Bbuild .
          cmake --build build --config Release
          cmake --install build --prefix . --config Release

      - name: install luajit
        run: |
          sudo apt install -y luajit
          luajit -v

      - name: test
        run: |
          ./rimeapi.app.lua test.lua api_test levers_api_test
          ./lua test.lua api_test levers_api_test
          luajit test.lua api_test levers_api_test
          ./lua ./rimeapi.app.lua test.lua api_test levers_api_test
          luajit ./rimeapi.app.lua test.lua api_test levers_api_test

      - name: prepare artifact
        if: matrix.maker == 'xmake'
        run: |
          mkdir -p rimeapi.lua-ubuntu24.04-dist
          cp ./rimeapi_lua.so ./rimeapi.lua-ubuntu24.04-dist/
          cp ./rimeapi.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./rimeapi_ffi.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./rimeapi.app.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./test.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp -r ./scripts ./rimeapi.lua-ubuntu24.04-dist/
          cp -r ./shared ./rimeapi.lua-ubuntu24.04-dist/
          cp ./rimeapi.annotation.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./README.md ./rimeapi.lua-ubuntu24.04-dist/
          cp ./rime_api_console.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./rime_deployer.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./LICENSE ./rimeapi.lua-ubuntu24.04-dist/
          cp ./schema_tester.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./schema_tester_config.lua ./rimeapi.lua-ubuntu24.04-dist/
          cp ./noti_bridge.so ./rimeapi.lua-ubuntu24.04-dist/
          cp ./librime.so ./rimeapi.lua-ubuntu24.04-dist/
          cp ./lua ./rimeapi.lua-ubuntu24.04-dist/

      - name: tar artifact
        run: tar czf rimeapi.lua-ubuntu24.04-dist.tar.gz ./rimeapi.lua-ubuntu24.04-dist/

      - name: upload artifact
        if: matrix.maker == 'xmake'
        uses: actions/upload-artifact@v5
        with:
          name: rimeapi.lua-ubuntu24.04-dist.tar.gz
          path: rimeapi.lua-ubuntu24.04-dist.tar.gz

  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        arch: [x64, x86]
        maker: [xmake]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: xmake-io/github-action-setup-xmake@v1
        if: matrix.maker == 'xmake'

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: ${{ matrix.arch }}

      - name: cache librime
        id: cache-librime
        uses: actions/cache@v4
        with:
          path: |
            include
            lib
            lib64
            shared/opencc
          key: ${{ runner.os }}-librime-latest-${{ matrix.arch }}
          restore-keys: |
            ${{ runner.os }}-librime-latest-{{ matrix.arch }}

      - name: Copy Rime files
        if: steps.cache-librime.outputs.cache-hit != 'true'
        shell: pwsh
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          .\get-rime.ps1 -use toy -tag latest

      - name: Build rimeapi.lua with xmake
        if: matrix.maker == 'xmake'
        id: build_rimeapi_lua_xmake
        run: |
          xmake f -a ${{ matrix.arch }} -y && xmake -y

      - name: Build rimeapi.lua with cmake
        if: matrix.maker == 'cmake'
        shell: pwsh
        id: build_rimeapi_lua_cmake
        run: |
          cmake -Bbuild .
          cmake --build build --config Release
          cmake --install build --prefix . --config Release

      - name: cache luajit
        id: cache-luajit
        uses: actions/cache@v4
        with:
          path: LuaJIT
          key: ${{ runner.os }}-luajit-${{ matrix.arch }} 
          restore-keys: |
            ${{ runner.os }}-luajit-${{ matrix.arch }}
            
      - name: install luajit
        if: steps.cache-luajit.outputs.cache-hit != 'true'
        shell: pwsh
        run: |
          git clone -v --depth=1 https://github.com/LuaJIT/LuaJIT
          pushd .\LuaJIT\src
          .\msvcbuild.bat
          popd

      - name: run tests
        shell: cmd
        env:
          PATH: .\LuaJIT\src\;${{ env.PATH }}
        run: |
          .\lua.exe test.lua api_test levers_api_test
          luajit.exe test.lua api_test levers_api_test
          luajit.exe .\rimeapi.app.lua test.lua api_test levers_api_test
          .\lua.exe .\rimeapi.app.lua test.lua api_test levers_api_test

      - name: prepare artifact
        if: matrix.maker == 'xmake'
        run: |
          mkdir rimeapi.lua-win${{ matrix.arch }}-dist
          cp ./rimeapi_lua.dll ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rimeapi.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rimeapi_ffi.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rimeapi.app.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./test.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp -r ./scripts ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp -r ./shared ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rimeapi.annotation.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./README.md ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rime_api_console.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rime_deployer.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./rime.dll ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./LICENSE ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./schema_tester.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./schema_tester_config.lua ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./noti_bridge.dll ./rimeapi.lua-win${{ matrix.arch }}-dist/
          cp ./lua.exe ./rimeapi.lua-win${{ matrix.arch }}-dist/

      - name: zip artifact
        run: 7z a -tzip rimeapi.lua-win${{ matrix.arch }}-dist.zip .\rimeapi.lua-win${{ matrix.arch }}-dist

      - name: upload artifact
        if: matrix.maker == 'xmake'
        uses: actions/upload-artifact@v5
        with:
          name: rimeapi.lua-win${{ matrix.arch }}-dist.zip
          path: rimeapi.lua-win${{ matrix.arch }}-dist.zip

  latest-release:
    if: github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-24.04
    needs: [build-macos, build-windows, build-ubuntu]
    steps:
      - name: Download macOS artifact
        uses: actions/download-artifact@v4
        with:
          name: rimeapi.lua-macos-dist.tar.gz
          path: ./artifacts/

      - name: Download Windows x64 artifact
        uses: actions/download-artifact@v4
        with:
          name: rimeapi.lua-winx64-dist.zip
          path: ./artifacts/

      - name: Download Windows x86 artifact
        uses: actions/download-artifact@v4
        with:
          name: rimeapi.lua-winx86-dist.zip
          path: ./artifacts/

      - name: Download Ubuntu 24.04 artifact
        uses: actions/download-artifact@v4
        with:
          name: rimeapi.lua-ubuntu24.04-dist.tar.gz
          path: ./artifacts/

      - name: Create latest release
        if: ${{ github.repository == 'fxliang/rimeapi.lua' && github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: "Latest Build"
          files: |
            ./artifacts/rimeapi.lua-macos-dist.tar.gz
            ./artifacts/rimeapi.lua-winx64-dist.zip
            ./artifacts/rimeapi.lua-winx86-dist.zip
            ./artifacts/rimeapi.lua-ubuntu24.04-dist.tar.gz
